body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.top_bar {
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.552); 
    padding: 10px 20px;
    position: fixed;
    width: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);

}

.list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav_link {
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.nav_link:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 21px;
}

.profile{
    background-color: white;
    padding: 30px 50px;
    border-radius: 50px;
    margin-top: 150px;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px rgba(54, 235, 255, 0.5),
                0 0 30px rgba(42, 208, 255, 0.5),
                0 0 40px rgba(37, 187, 255, 0.5);
}

.photo{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: 0 30px;
}

.my-name{
    flex-grow: 1;
    margin: 0;
    font-size: 1.5rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.text {
    margin:5px;
}

.about-me-div{
    width: 100%;
    padding: 20px 0;
    background-color: white;
    margin-top: 270px;
}